<section class="contactus-section black-bg" id="contact">
  <h3><span class="orange"> Contact </span> Us</h3>

  <div class="row contact-content">
    <div class="col-md-3 contact-details">

      <div class="contact-address contact">
        <div class="contact-icon"><span class="icon_pin"></span></div>
          <div class="">House No 626, First Floor, Street 8, Chaklala Scheme 3 Rawalpindi</div>

      </div>
      <div class="contact-phone contact">
          <div class="contact-icon">
            <span class="icon_phone"></span>
          </div>
            <div class=""> +92-321-5017659</div>

      </div>
      <div class="contact-email contact">
          <div class="contact-icon">
            <span class="icon_mail"></span>
          </div>
            <div class="">hr@ideofuzion.com</div>

      </div>


      <div class="follow-icon">
          <h4> Follow Us </h4>
          <span class="social_facebook_circle"></span>
          <span class="social_twitter_circle"></span>
          <span class="social_linkedin_circle"></span>
      </div>
    </div>

    <div class="col-md-3 col-md-offset-2 contact-form">

      <h4>Drop A message To get In touch with us</h4>

      <app-contactform></app-contactform>

    </div>

  </div>
  <!--Footer Section -->
  <app-footer></app-footer>

</section>
