<section class="work-section grey" id="ourwork">
  <h3><span class="heading">Sample <span class="orange">Works</span></span></h3>
  <p>Let’s take a look at some of the best of our works here, we love them and hope you too</p>
  <div class="sampleworks-content">
    <div class="work">
      <img src="assets/images/work1.png" alt="Work">

    </div>
    <div class="work">
      <img src="assets/images/work2.png" alt="Work">

    </div>
    <div class="work">
      <img src="assets/images/work3.png" alt="Work">

    </div>
    <div class="work">
      <img src="assets/images/work4.png" alt="Work">

    </div>
    <div class="work">
      <img src="assets/images/work5.png" alt="Work">

    </div>
    <div class="work">
      <img src="assets/images/work6.png" alt="Work">

    </div>
    <div class="work">
      <img src="assets/images/work7.png" alt="Work">

    </div>
    <div class="work">
      <img src="assets/images/work8.png" alt="Work">

    </div>
    <div class="work">
      <img src="assets/images/work1.png" alt="Work">

    </div>
    <div class="work">
      <img src="assets/images/work2.png" alt="Work">

    </div>
    <div class="work">
      <img src="assets/images/work3.png" alt="Work">

    </div>
    <div class="work">
      <img src="assets/images/work4.png" alt="Work">

    </div>


  </div>
    <button class="orange-btn">View All Works</button>
</section>
