<section class="team-section grey" id="team">
  <h3><span class="heading"><span class="orange">Team</span> Members</span></h3>
  <p>We’re some creative people with powerful knowledge & awesome skills behind the scene bringing you the bests</p>

  <div class="row team-content">
    <div class="team-member">
      <div class="member-img">
        <img src="assets/images/member1.png" alt="Ali Zain Img">
        <p class="member-name">Ali Zain</p>
      </div>

      <div class="member-designation">
        <p>Chief Executive Officer (CEO)</p>
      </div>
      <div class="member-contact">

      </div>

    </div>

    <div class="team-member">
      <div class="member-img">
        <img src="assets/images/member2.png" alt="Yasir Rizvi Img">
        <p class="member-name">Yasir Rizvi</p>
      </div>

      <div class="member-designation">
        <p>Chief Technology Officer (CTO)</p>
      </div>
      <div class="member-contact">

      </div>

    </div>

    <div class="team-member">
      <div class="member-img">
        <img src="assets/images/member3.png" alt="Mustafa J. Iftakhar Img">
        <p class="member-name">Mustafa J. Iftakhar</p>
      </div>

      <div class="member-designation">
        <p>Business Development Partner</p>
      </div>
      <div class="member-contact">

      </div>

    </div>

    <div class="team-member">
      <div class="member-img">
        <img src="assets/images/member4.png" alt="Syed Shan Alam Img">
        <p class="member-name">Syed Shan Alam</p>
      </div>

      <div class="member-designation">
        <p>Manager Business Operations & Marketing</p>
      </div>
      <div class="member-contact">

      </div>

    </div>



  </div>
</section>
