<section class="whywe-section black-bg" id="whyIdeo">
  <h3><span class="heading">Why <span class="orange">Ideofuzion</span></span></h3>
  <p>With unlimited features that we offer, we promise it’s possible to make everything that was impossible for you !</p>

  <div class="row whywe-content">
    <div class="col-md-3 points">

        <div class="box">
          <div class="whywe-icon ">
            <span class="agileicon"></span>
          </div>
          <div class="">
            <h4>We are Agile</h4>
            <p>Proin in magna a ipsum viverra scelerisq enec turp, nunc vestibulum.</p>
          </div>

        </div>
        <div class="box">
          <div class="whywe-icon searchicon">
            <span class="icon_search"></span>
          </div>
          <div class="">
            <h4>Attension To Detail</h4>
            <p>Proin in magna a ipsum viverra scelerisq enec turp, nunc vestibulum.</p>
          </div>

        </div>
        <div class="box">
          <div class="whywe-icon">
            <span class="icon_star"></span>
          </div>
          <div class="">
            <h4>Versatile</h4>
            <p>Proin in magna a ipsum viverra scelerisq enec turp, nunc vestibulum.</p>
          </div>


    </div>
  </div>
    <div class="col-md-5 col-md-offset-1">
      <img src="assets/images/mockup.png" alt="Why Idofuzion">
    </div>

  </div>
</section>
