<div id="wrapper">

  <!--HeroSection Includes Logo and Top Navigation -->
  <app-herosection></app-herosection>

  <!--About us Section -->
  <app-about-ussection></app-about-ussection>

    <!--Why Ideofuzion Section -->
  <app-why-wesection></app-why-wesection>

  <!--What We Offer Section -->
  <app-what-weoffersection></app-what-weoffersection>

  <!--Sample Works Section -->
  <app-sample-worksection></app-sample-worksection>

  <!--Company Facts Section -->
  <app-company-factssection></app-company-factssection>

  <!--Team Section -->
  <app-teamsection></app-teamsection>

  <!--Testimonails Section -->
  <app-testimonialsection></app-testimonialsection>

  <div class="separator"></div>
  <!--Partners Section -->
  <app-partnersection></app-partnersection>
<div class="separator"></div>
  <!--Contact us Section -->
  <app-contactsection></app-contactsection>




</div>
