<section class="services-section grey" id="services">
  <h3><span class="heading"> What We <span class="orange">Offer</span></span></h3>
  <p>We offer our customers the best services & solutions, this is our main services list</p>
  <div class="row services-content">
    <div class="serv-detail">
      <div class="ser-Img">
        <i class="icon icon1"></i>
      </div>
      <div class="serv-body">
        <h5>SMART CONTRACT DEVELOPMENT</h5>
        <p>We develop and implement ICOs and
Generic Smart Contracts. Creating smart
contracts for any application that require
decentalization and secure execution.</p>
      </div>
    </div>

    <div class="serv-detail">
      <div class="ser-Img">
          <i class="icon icon2"></i>
      </div>
      <div class="serv-body">
        <h5>Smart Contract General and Security Audits</h5>
        <p>Detection of bad practices, security flaws and
un-optimzed code by our experienced team. We provide
detailed technical reports uponcompletion of our audit
that can be reviewed by your developers and use of a
basis ofcoding improvements. decentalization
and secure execution.</p>
      </div>
    </div>

    <div class="serv-detail">
      <div class="ser-Img">
        <i class="icon icon3"></i>
      </div>
      <div class="serv-body">
        <h5>Cryptocurrecy Wallet Development</h5>
        <p>We design and develop Bitcoin and Ether wallet
app for trading,exchanging and buying of
Cryptocurrency along with more features.</p>
      </div>
    </div>

    <div class="serv-detail">
      <div class="ser-Img">
        <i class="icon icon4"></i>
      </div>
      <div class="serv-body">
        <h5>Cryptocurrency Exchange Development</h5>
        <p>Developed Cryptocurrency Exchange for trading
 and exchange of Bitcoin, Etherium and Litecoin,
as well as ERC-20 altcoins & more. Real-time
trading, bidding and account updates.</p>
      </div>
    </div>

    <div class="serv-detail">
      <div class="ser-Img">
        <i class="icon icon5"></i>
      </div>
      <div class="serv-body">
        <h5>ICO CONSULTING</h5>
        <p>
We provide detailed analysis of the entire
architecture of token distribution, technical and
consultancy of ICO functionalities,user-experience
along with statistical data provision of the admin.</p>
      </div>
    </div>

    <div class="serv-detail">
      <div class="ser-Img">
        <i class="icon icon6"></i>
      </div>
      <div class="serv-body">
        <h5>BLOCKCHAIN CONSULTING</h5>
        <p>
The possibility of implementing Blockchain and
Smart Contract technologies is endless.
Non-Financial ones too. The implementation
of Blockchain and smart contract technologies are
endless. We use our clients project brief and
create something unique and innovative.</p>
      </div>
    </div>

  </div>

</section>
