<section class="facts-section black-bg">
    <h3>Company <span class="orange">Facts</span></h3>
    <p>We do love to work and increase our counter numbers, this is what we’ve done till now</p>

    <div class="row facts-content">
      <div class="fact">
        <div class="number">
            <h6>218</h6>
        </div>
        <div class="fact-detail">
          <span class="outer-line"></span>
          <span class="icon_box-checked"></span>
          <span class="outer-line"></span>
          <h5>Completed Projects</h5>
        </div>
      </div>

      <div class="fact">
        <div class="number">
            <h6>360</h6>
        </div>
        <div class="fact-detail">
           <span class="outer-line"></span>
           <span class="icon_hourglass"></span>
          <span class="outer-line"></span>
          <h5>Hours of work / <span class=""> Month </span></h5>
        </div>
      </div>

      <div class="fact">
        <div class="number">
            <h6>135</h6>
        </div>
        <div class="fact-detail">
          <span class="outer-line"></span>
          <span class="icon_tags"></span>
          <span class="outer-line"></span>
          <h5>Solved Tickets</h5>
        </div>
      </div>

      <div class="fact">
        <div class="number">
            <h6>174</h6>
        </div>
        <div class="fact-detail">
          <span class="outer-line"></span>
          <span class="icon_like_alt"></span>
        <span class="outer-line"></span>
          <h5>Satisfied clients</h5>
        </div>
      </div>

      </div>
</section>
